.SkillsPage {
  min-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 2880px;
  background-color: #75cdff;
}

.Base {
  position: absolute;
  width: 1440px;
  bottom: 200px;
}

.Container {
  height: 10px;
  width: 169px;
}

.Container2 {
  width: 230px;
}

.LevelsList {
  z-index: 4;
}

.Level {
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  color: white;
  list-style: none;
  margin: 35px 0;
  padding: 0;
  text-align: left;
}

.Level > hr {
  border: 1px solid white;
  padding: 0;
  margin: 0;
  width: 1224px;
}

.Level > p {
  padding: 0;
  margin: 0;
}

.SkillsList {
  z-index: 10;
  position: absolute;
  left: 100px;
  right: 0;
  margin: auto;
}

.Skill {
  color: white;
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}

.PlantsList {
  z-index: 5;
  position: absolute;
  bottom: 20%;
  left: 100px;
  right: 0;
  margin: auto;
}

.Plant {
  z-index: 5;
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}

@media (max-width: 500px) {
  .SkillsPage {
    min-width: 100vw;
    left: 200vw;
  }

  .LevelsList {
    padding: 0;
    bottom: 20%;
  }

  .Level > hr {
    width: 85vw;
  }

  .Base {
    width: 100vw;
    bottom: 20%;
  }

  .Level {
    font-size: 8px;
  }

  .Container {
    width: 30px;
  }

  .SkillsList,
  .PlantsList {
    left: 0;
  }

  .Skill,
  .Plant {
    margin: 0 10px;
  }
}
