.Skill {
  display: flex;
  position: absolute;
  left: 100px;
  bottom: 20%;
}

.Sign {
  margin-top: auto;
  z-index: 5;
}

.Ballon {
  margin-left: 10px;
  margin-bottom: -5px;
}

.Papan {
  box-sizing: border-box;
  color: white;
  padding: 20px;
  background-color: #444444;
  border: 10px solid #353535;
  font-family: 'Fredoka One', cursive;
  text-align: left;
}

.Title {
  font-size: 40px;
}

.Description {
  font-size: 20px;
  margin: 0;
}

.Date {
  font-size: 20px;
  margin: 0;
}

.Tiangs {
  display: flex;
  justify-content: space-between;
  margin-bottom: -5px;
}

.Tiang {
  margin: 0 60px;
  width: 89px;
  height: 176px;
  display: inline-block;
  background-color: #405075;
}

.Car {
  position: absolute;
  right: 0;
  margin-right: -400px;
  bottom: 0;
  z-index: 6;
}

.TrafficLight {
  position: absolute;
  z-index: 6;
  right: 0;
  margin-right: -460px;
  bottom: 0;
}

@media (max-width: 500px) {
  .Skill {
    vertical-align: bottom;
    left: 10px;
  }

  .Tiang {
    margin: 0 40px;
    height: 80px;
    width: 40px;
  }

  .Title {
    font-size: 15px;
  }

  .Date {
    font-size: 10px;
  }

  .Description {
    font-size: 8px;
  }

  .Papan {
    max-width: 300px;
  }

  .Car {
    right: 0;
    margin-right: 0;
    width: 150px;
    right: 30px;
  }

  .TrafficLight {
    margin-right: 0;
    width: 45px;
  }
}
